:root {
  --font: -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: rgb(243, 244, 245);
  color: rgb(49, 55, 61);
}

a {
  color: inherit;
  text-decoration: none;
}

