.main {
  font-family: var(--font);
}

.wrap {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.header {
  margin-top: 80px;
}

.headerPanel {
  display: flex;
  width: 100%;
  align-items: center;
}

.headerPanel a:not(:first-child) {
  margin-left: 16px;
} 

.headerIcon {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: center;
  min-width: 30px;
  outline: none;
  position: relative;
  transition: opacity .2s;
  opacity: 0.7;
}

.headerIcon:hover {
  opacity: 1;
}


.title {
  font-size: 70px;
  font-weight: 500;
  letter-spacing: .8px;
  line-height: 120%;
  position: relative;
  margin-top: 10px;
}

.description {
  font-size: 20px;
  font-weight: 300;
  line-height: 150%;
  margin-top: 20px;
}

.slide {
  position: relative;
}

.slideTitle {
  position: absolute;
  right: 0;
  left: 30px;
  top: 30px;
  bottom: 0;
  display: flex;

  color: rgb(243, 244, 245);
  font-size: 44px;
  letter-spacing: 2px;
}

.slider {
  margin-top: 40px;
  border-radius: 12px;
  overflow: hidden;
}

.code {
  background-color: rgb(243, 244, 245);
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 22px;
}

.ts {
  background-color: #2980B9;
  color: #fff;
}

.py {
  background-color: #1ABC9C;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
}

.footerText {
  font-size: 20px;
}

.footerLink {
  font-size: 20px;
  margin-left: 6px;
  outline: none;
}

.footerLink:hover {
  text-decoration: underline;
  text-decoration-color: #AEC6CF;
}

.footerLink:focus {
  text-decoration: underline;
  text-decoration-color: #AEC6CF;
}

.footer img {
  margin-left: 2px;
}

